body {
  background-color: rgba(230, 230, 230, 0.5);
  font-family: "Oswald", sans-serif;
}

.content {
  max-width: 600px;
  text-align: center;
  color: rgb(63, 61, 86);
  background-color: #fff;
  padding: 30px 50px;
  margin: 100px auto;
  margin-bottom: 0;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

header a {
  text-decoration: none;
  color: rgb(63, 61, 86);
}

h1 {
  font-size: 40px;
  vertical-align: middle;
  font-weight: 900;
  margin-bottom: 20px;
}

img {
  width: 30%;
  vertical-align: middle;
}

header .description {
  margin: 20px;
}

h3 {
  font-size: small;
  font-style: italic;
  opacity: 0.8;
  font-weight: 300;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  color: #3f3d56;
  opacity: 0.9;
}

select:hover {
  border-color: rgb(255, 178, 33);
}

option {
  color: rgba(63, 61, 86, 0.9);
}

.city {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0;
  margin: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.city:last-child {
  border: none;
}

.left {
  text-align: left;
}

h2 {
  margin: 0;
  font-size: 30px;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 50px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 14px;
  margin: 42px auto;
  color: rgba(63, 61, 86, 0.8);
}

footer a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(63, 61, 86);
}

footer a:hover {
  color: rgb(255, 178, 33);
}
